[Unit]
Description=Phoniebox LED-Buttons-Control Service

[Service]
#Restart=always
WorkingDirectory=/home/pi/phoniebox_led_control
ExecStart=/usr/bin/python3 /home/pi/phoniebox_led_control./led.py

[Install]
WantedBy=multi-user.target